.card {
    height: 100%;
    width: 100%;
    padding: 50px; 
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;   
}

.line {
    height: 1px;
    width: 100%; 
    background-color: #CCCFD9;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 1.5wrem;
}

.addTask {
    background-color: #4c34e2;
    color: white;
}