.swiper {
    height: 100%;
    width: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: white;
}